*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-link {
    text-decoration: none; 
    color: inherit; 
  }
  
  #img-home{
    width: 100%;
    overflow: hidden;
    height: 7rem;
    img{
      width: 100%;
      height: 7rem;
      transition: 0.62s ease-in-out;
    }
    img:hover{
      transform: scale(1.1)
    }
  }
@import 'BlogList.scss';
@import 'nav.scss';
@import 'home.scss';
@import 'createBlog.scss';
@import 'blogDetail.scss';
@import 'comment.scss';
